*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #2A9D8F;
}
.topnav{
    background-color: #264653;
    margin: 15px 0px;
}

.topnav a{
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    color: #E9C46A;
}

.topnav a:hover{
    background-color: #2A9D8F;
    color: #264653;
}
